@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared style */
.display-flex {
    display: flex;
}


/* dark03 */
.text-gray {
    color: #727272;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
}

/* header related style */

/* navbar related style */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner related style */
.banner-containt {
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    line-height: 25px;
}

.banner-image {
    width: 100%;
}

@media screen and (max-width:576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }
}